<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <button><a href="/Add-Staff">Add Staff</a></button>
    <button><a href="/View-Staff">View Staff</a></button>
    <button><a href="/Add-Task">Add Task</a></button>
    <button><a href="/View-Task">View Task</a></button>
    <button><a href="/Manage-Task">Manage Task</a></button>
</body>

</html>