<% result.forEach(function(data) { %>
    <h1 name="name">Welcome : <%=data.name%></h1>
    <h1 name="email">Email : <%=data.email%></h1>
<% }); %>

<button><a href="/Assign-Task">Assign Task</a></button>
<button><a href="/Accept-View">Accept View</a></button>
<button><a href="/Denied-View">Denied View</a></button>
<button><a href="/Pending-View">Pending View</a></button>
<button><a href="/Running-View">Running View</a></button>
<button><a href="/Completed-View">Completed View</a></button>